<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>batch4dynamicweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.HelloServlet</servlet-class>
    <init-param>
      <param-name>param1</param-name>
      <param-value>Value of first param</param-value>
    </init-param>
    <init-param>
      <param-name>param2</param-name>
      <param-value>value of second param</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloservlet</url-pattern>
    <url-pattern>/test/some</url-pattern>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExampleOneServlet</display-name>
    <servlet-name>ExampleOneServlet</servlet-name>
    <servlet-class>com.ExampleOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleOneServlet</servlet-name>
    <url-pattern>/exampleone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExampleTwoServlet</display-name>
    <servlet-name>ExampleTwoServlet</servlet-name>
    <servlet-class>com.ExampleTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleTwoServlet</servlet-name>
    <url-pattern>/exampletwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExampleThreeServlet</display-name>
    <servlet-name>ExampleThreeServlet</servlet-name>
    <servlet-class>com.ExampleThreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleThreeServlet</servlet-name>
    <url-pattern>/examplethree</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ExampleFourServlet</display-name>
    <servlet-name>ExampleFourServlet</servlet-name>
    <servlet-class>com.ExampleFourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleFourServlet</servlet-name>
    <url-pattern>/examplefour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExampleFiveServlet</display-name>
    <servlet-name>ExampleFiveServlet</servlet-name>
    <servlet-class>com.ExampleFiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleFiveServlet</servlet-name>
    <url-pattern>/examplefive</url-pattern>
  </servlet-mapping>
</web-app>